@model ChurrasDaTrinca.DB.ViewModel.AddPartVM
@{
    ViewBag.Title = "Adicionar Participante";
}

<script type="text/javascript">

    $(document).ready(function() {
        $('#IdParticipante').material_select();
    });

$('input:hidden').each(function (index, element) {        
    $(element).appendTo($(element).parent());
});
</script>

@using (Html.BeginForm("AddPart", "Churrasco", FormMethod.Post))
{
<div class="row">

    @Html.HiddenFor(k => k.IdChurrasco)

    <div class="col s12 m12 l12">

        <span><b>Adicionar Participantes</b></span>

    </div>

</div>

<div class="row">

    <div class="col s12 m12 l12 input-field">

        
        @Html.DropDownListFor(k => k.IdParticipante, new SelectList(Model.partVMList, "Id", "Nome"), "Selecione o participante")
        @Html.LabelFor(k => k.IdParticipante)
        @Html.ValidationMessageFor(k => k.IdParticipante)

    </div>

</div>

<div class="row">

    <div class="col s12 m12 l12 input-field">

        @*Html.CheckBoxFor(k => k.CheckBebida, new { @type = "checkbox", @id = "chkBebida" }) *@
        <input type="checkbox" id="chkBebidaAdd" name="@nameof(Model.strCheckBebida)" />
        <label for="chkBebidaAdd">Bebida?</label>
        @Html.ValidationMessageFor(k => k.CheckBebida)

    </div>

    <div class="col s12 m12 l12"></div>

    <div class="col s12 m12 l12 input-field">

        @*Html.CheckBoxFor(k => k.CheckPago, new { @type = "checkbox", @id = "chkPago" })*@
        <input type="checkbox" id="chkPagoAdd" name="@nameof(Model.strCheckPago)" />
        <label for="chkPagoAdd">Pago?</label>
        @Html.ValidationMessageFor(k => k.CheckPago)

    </div>

</div>

<div class="row"></div>

<div class="row">

    <div class="col s12 m12 l12 input-field">

        @Html.TextBoxFor(k => k.Contribuicao, new { @class = "moneyMask" })
        @Html.LabelFor(k => k.Contribuicao)
        @Html.ValidationMessageFor(k => k.Contribuicao)

    </div>

</div>

<div class="row">

    <div class="col s12 m12 l12 input-field">

        @Html.TextAreaFor(k => k.Obs, new { @class = "materialize-textarea", @data_length = "140" })
        @Html.LabelFor(k => k.Obs)
        @Html.ValidationMessageFor(k => k.Obs)

    </div>

</div>

<div class="row">

    <div class="col s12 m12 l12">

        <button type="submit" title="Adicionar" class="waves-effect waves-light btn purple lighten-1">Adicionar participante</button>

    </div>

</div>
}